[2015-02-26 16:32] Rarst opened #3 "@subpackage tag"
The current iteration of ruleset mandates `@subpackage` tag in file headers.

However, it is [deprecated in PSR–5 draft](https://github.com/phpDocumentor/fig-standards/blob/master/proposed/phpdoc.md#819-subpackage-deprecated).

I think it would make sense to omit it as hard requirement. Thoughts?

cc @jrfnl

[2015-03-06 20:08] Rarst opened #4 "String concat"
String concat sniff goes completely crazy over constructs like these:

[code]

While it can be rewritten to satisfy the sniff, it severely compromises underlying HTML logic of strings. :(

[2015-03-26 15:37] #3 closed, assigned to Rarst

[2015-04-22 00:35] jrfnl commented on #4
If this is an echo statement, you can simply replace the `.` with a `,` to avoid unnecessary concatenation altogether and still maintain the underlying HTML string logic.
This has the added benefit of lowering memory usage as well ;-)

See: https://github.com/dseguy/clearPHP/blob/master/rules/no-unnecessary-string-concatenation.md

[2015-04-22 00:36] jrfnl commented on #3
+1

[2015-04-22 07:47] Rarst commented on #4
Alas, it's not echo and there is [more where it came from](https://github.com/Yoast/wordpress-seo/blob/trunk/admin/class-pointers.php#L86). Trying to rewrite it to satisfy string concat rule (and I have tried) creates unholy mess of a string.

[2015-04-22 11:14] jrfnl commented on #4
exclude that one file from the rule ?

[2015-04-22 11:26] Rarst commented on #4
I would reason that if rule needs to be micromanaged like that, then it's not too good for _general_ (read it — error level) inclusion.

Maybe we could downgrade it to warning? Won't matter in tests, but will prompt for attention in development.

[2015-04-22 18:35] jrfnl commented on #4
Unfortunately AFAIK you can't. You can lower the severity of the error to prevent it from showing up, but can't change the error type.

[2015-04-22 18:57] Rarst commented on #4
Hmmm, yeah can manipulate severity, but inconvenient to have it work smoothly both with travis and IDE integration.

[2015-04-30 10:48] GaryJones commented on #4
[code]

?

[2015-04-30 10:51] Rarst commented on #4
I like it visually, but I question... editability?

[2015-04-30 11:08] GaryJones commented on #4
Move the strong elements around the strings, or abstract the wrapping into a helper function. Use some `wpautop()`, and your sprintf() first string becomes something like `str_repeat( '%s', 12 )` ;-)

[2015-04-30 11:13] jrfnl commented on #4
I like @GaryJones's suggestion - what about this variant for editability ?

[code]

[2015-04-30 11:14] jrfnl commented on #4
Oh and please don't `wpautop()` when it's not really needed, seriously the overhead is huge...

[2015-04-30 11:59] Rarst commented on #4
I am edging towards thinking that mega strings like this should just be template files altogether.

[2015-06-01 09:51] jdevalk opened #7 "Code style should enforce documentation for actions and filters"
every `do_action` and `apply_filters` should be documented.

[2015-06-04 09:54] Rarst opened #8 "Audit and integrate upstream Docs ruleset"
The `WordPress-Docs` ruleset had been added to WPCS upstream.

Rules should be adjusted in lines with it (a lot of our custom docs rules are likely superseded by it).

See [WordPress-Docs/ruleset.xml](https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/blob/develop/WordPress-Docs/ruleset.xml).

[2015-06-04 19:02] jrfnl commented on #8
More then likely as they are based on the same source for the initial set-up ;-)

[2015-06-05 17:38] #8 closed, assigned to Rarst

[2015-08-18 11:35] atimmer opened #11 "Add a translator comment sniff"
All strings with placeholders should have a translator comment to explain what the placeholders are replaced with.

This is incorrect:

[code]

This is correct:

[code]

An advanced check would also be able to check if all the placeholders present in the string are also present in the translator comment. Strings can be checked for placeholders using the following regex: `%(\d+\$(?:\d+)?)?[bcdefgos

[2015-08-18 11:40] Rarst commented on #11
Could you provide an example for the context? _What_ are we checking? What's valid and what's invalid?

[2015-08-18 12:23] atimmer commented on #11
@Rarst Is this clearer?

[2015-08-18 12:28] Rarst commented on #11
Much better, thank you. :) Do you want me to raise this upstream or would prefer to do it yourself?

[2015-08-18 12:50] atimmer commented on #11
See WordPress-Coding-Standards/WordPress-Coding-Standards#423 for the upstream issue.

[2016-01-07 09:51] omarreiss opened #12 "Prevent new sniffs from creeping in..."
Updating the sniffs should be a manual task that should be done once every release cycle, preferably right after release. Let's make sure that every composer install gives the same result in terms of code style...

[2016-01-08 08:21] #12 closed, assigned to Rarst

[2016-09-19 22:19] jrfnl commented on #4
Either I missed it before or it's a new feature (since this was last discussed), but you can now change the error level of PHPCS issues;

[code]

[2016-09-19 22:21] jrfnl commented on #7
Related issue in WPCS: https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/issues/424

[2016-09-19 22:27] jrfnl opened #15 "Re-enable PHPCompatibility Sniffs"
I noticed that the [PHPCompatibility](https://github.com/wimg/PHPCompatibility) ruleset has been disabled as it - at the time - did not (yet) support PHPCS 2.x. This has been fixed for over a year now and since then a fairly complete suite of tests has been added to the PHPCompatibility library for PHP 7.

I'd like to suggest re-enabling it.

To that end, I've set up the basics for this in a featu

[2016-09-20 15:46] Rarst commented on #15
As per https://github.com/wimg/PHPCompatibility/pull/234 it's sort of broken for Composer use at the moment.

I really don't like that plugin approach to move folder after install and it hadn't been _necessary_ with support for relative paths in PHP CS config.

[2016-09-20 15:53] jrfnl commented on #15
There are a few issues open regarding that, but for most Composer installs - this issue does not apply. From all I've read about the issue, it's mostly a problem on Windows, so doesn't apply to travis runs.

Not sure what you mean exactly. Could you elaborate a bit ?

[2016-09-20 16:05] Rarst commented on #15
It's not a problem on Windows, it's quite clearly a problem with current plugin setup. Its `autoload` directive in `composer.json` is effectively non-functional.

The way it _does_ work is using that additional plugin to physically move the standard inside PHP CS directory. I would say that is highly not in line with normal Composer mechanics and isn't necessary with current PHP CS versions. As yo

[2016-09-20 16:06] Rarst commented on #15
TL;DR its Composer setup is part broken, part unorthodox and I am not too keen to drag that into YoastCS and deal with it. :)

[2016-09-20 16:08] jrfnl commented on #15
I see what you mean. That is actually a discussion I'm trying to resolve in the PHPCompatibility repo already. I've proposed a potential solution which would be more in line for Composer (moving the Sniffs one directory down), but as it would break any PEAR installs, it is not considered an acceptable solution ATM.

If you have any input on how to solve this better - it would be very welcome.

You

[2016-09-20 16:10] Rarst commented on #15
Yes, I looked through that. Unfortunately I don't have an idea how to work around folder name mismatch, since this ties into how PHP CS processes standards (which I think was covered in discussion there).

[2016-09-20 16:43] jrfnl commented on #15
OK, thanks for looking and yes, that was covered in the discussion.

Let's leave this issue open for now. I'm still hoping to find a workable solution for PHPCompatibility which will work & be acceptable for both Composer as well as PEAR installs some time over the next few weeks (months).

[2016-09-20 16:46] Rarst commented on #15
Sure, if I have any bright ideas I will update with.

[2016-09-20 17:16] jrfnl commented on #15
Appreciated.

[2016-09-23 11:05] jrfnl commented on #15
Looks like there is someone who's on the right track to solve this: https://github.com/wimg/PHPCompatibility/pull/235 :smile_cat:

If you have a chance, would love to hear your opinion on the proposed solution. It is much closer to what you would expect with a Composer install. It just moves the relevant files to a subdirectory (in `vendor/wimg/PHPCompatibility`) so the installed path command will

[2016-10-03 12:02] Rarst commented on #15
Does seem like a total hack. :) But _relatively_ it seems to be an improvement containing changes _within_ package rather than making them cross-package (if I follow that right).

Honestly I don't hope for a robust solution there without normalizing directory structure. If the standard is expected to be called one thing and it's not called that in the project then _every_ approach to build will ha

[2016-12-20 14:08] Rarst commented on #7
Seems to be blocked by no upstream implementation in WPCS still.

[2016-12-20 14:15] Rarst commented on #4
The rule had been de facto disabled for a while, I would guess this is irrelevant until any general improvement (templating) to output practices could be considered.

[2016-12-20 14:15] #4 closed, assigned to nobody

[2016-12-20 14:36] Rarst commented on #11
Closing in favor of upstream issue.

[2016-12-20 14:36] #11 closed, assigned to nobody

[2016-12-22 13:48] jrfnl opened #16 "Are the correct rulesets being used ?"
WPCS currently has five rulesets:
* `WordPress-Core` - stand-alone, only rules as documented for core
* `WordPress-Docs` - stand-alone, only documentation rules as documented for core
* `WordPress-Extra` - `WordPress-Core` + a number of extra programming/WP best practice kind of rules
* `WordPress-VIP` - `WordPress-Core` + a number of specific rules which plugins and themes have to comply with to

[2016-12-23 14:54] atimmer commented on #16
I would prefer checking against `WordPress`

[2016-12-23 15:17] jrfnl commented on #16
See PR #19.

I suggested `Extra + Docs` as an alternative as the Yoast-CS ruleset currently contains quite a few exclusions for VIP specific rules, so it would be worth reviewing what's left of the VIP ruleset after all the exclusions and if it's worth keeping.

[2016-12-31 05:50] jrfnl opened #20 "Re-enable the WordPress.Variables.GlobalVariables sniff"
The `WordPress.Variables.GlobalVariables` sniff was originally part of the intended ruleset, but turned off because of its buggyness as reported in https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/issues/300.
See: https://github.com/Yoast/yoastcs/blob/master/Yoast/ruleset.xml#L48

All the currently known bugs are expected to be fixed in the near future once https://github.c

[2017-01-07 00:26] jrfnl commented on #20
Update: the PR to fix the bugs in WPCS has been merged and will be part of the 0.11.0 release.

[2017-03-21 00:55] jrfnl commented on #20
Update: WPCS 0.11.0 has been released.

[2017-03-22 08:48] #16 closed, assigned to jrfnl

[2017-05-14 20:41] jrfnl commented on #15
This is on track to be fixed in the next PHPCompatibility release 7.1.5 - see https://github.com/wimg/PHPCompatibility/pull/446

[2017-07-14 14:01] atimmer opened #34 "Create a sniff to make sure we are not using `filter_input` for server variables"
Filtering `SERVER_INPUT` variables using filter_input is disabled on some PHP configurations. (And fails silently)

[2017-07-24 17:34] jrfnl opened #35 "Update needed for WPCS 0.12.0"
WPCS 0.12.0 was released last week.

A number of new sniffs were introduced and some more custom properties which YoastCS could benefit from.

[2017-07-24 17:36] jrfnl opened #36 "Update for PHPCS 3.x compatibility"
Once WPCS 0.13.0 has been released (expected soon), WPCS will be compatible with PHPCS 3.x.

To upgrade YoastCS to start using PHPCS 3.x, the custom sniff will need to be adjusted.

[2017-07-24 17:37] jrfnl commented on #15
The above mentioned PR has been merged and will soon be released as PHPCompatibility 8.0.0.

[2017-10-20 04:22] jrfnl opened #48 "YoastCS native filename sniff"
As discussed with @moorscode and by @moorscode discussed with @omarreiss and @atimmer, I'm working on a YoastCS native filename sniff.

There are a couple of things I need to get a decision on before the sniff can be finalized, so Jip, Omar, Anton, please discuss and let me know the outcome.

Currently implemented rules:
* (WP) Filenames should be lowercase and words should be separated by dashes

[2017-10-30 15:44] moorscode commented on #48
Answers to your questions:

### Excluding files
Please exclude using the full path, we want to discourage introducing any new exclusions being introduced.

### Also implement for CSS/JS
No. Not at this point.

### `-functions.php` exclusions
We want to have file-specific full-path excludes. Also discouraging any new entries from being created.

### Interface name
These can be ignored in file name

[2017-10-31 08:08] jrfnl commented on #48
@moorscode Thanks for getting back to me. Still some more questions to confirm my understanding of your reply.

Do I understand correctly, that you want to use an exclude list for this, not a file content based examination (file containing only functions vs mixed content) ?

And do I understand correctly that you want to be able to set a second list of files to exclude specifically for the suffixe

[2017-10-31 10:44] moorscode commented on #48
We want all files to be lowercased and dashed.
We want to have a list of files to be excluded from the `-functions.php` suffix for files without a class inside.

Which sounds like the later to me:

[2017-10-31 10:45] moorscode commented on #48
`abstract class WPSEO_Abstract_Capability_Manager {}`

Is expected to be in the file: `abstract-capability-manager.php`

[2017-10-31 10:48] moorscode commented on #48
I think I was a bit quick on this particular part.

We expect the following test class:
`WPSEO_OnPage_Option_Test`

To be in the file:
`onpage-option-test.php`

Which would just follow the "regular" rules on filenames for the rest of the project, right?

I don't think we need to add complexity on the subfolder part.

[2017-10-31 10:52] moorscode commented on #48
If they are not there at this moment, they should not be added at this point.

I'm creating an issue on the Roadmap repository to create conventions for the PSR implementations.

[2017-10-31 10:55] moorscode commented on #48
Empty for now, but this is the issue mentioned: https://github.com/Yoast/roadmap/issues/29

[2017-10-31 13:04] jrfnl commented on #48
Just to be clear: this `exclude` list will be applied to class/interface/functions etc as otherwise if a plugin "main/bootstrap" file is for instance class-based, you'd still run the risk of it being renamed and the original intend of the `exclude` property was to prevent the plugin "main/bootstrap" file from getting renamed as that would deactivate the plugin on upgrade.

So, yes, will implement

[2017-10-31 13:22] jrfnl commented on #48
So, no need for a class-name sniff at this moment and no removing of existing plugin specific prefixes from test class names for now ?

[2017-10-31 13:23] jrfnl commented on #48
I don't have access to that repo, but I believe you :wink:
Unless you want my feedback on the issue ? In that case, I'd need access.

[2017-10-31 14:18] jrfnl commented on #48
Updated file rename proposal based on the above exchange:
[20171031 wpseo-file-rename-proposal.xlsx](https://github.com/Yoast/yoastcs/files/1430996/20171031.wpseo-file-rename-proposal.xlsx)

**Please review the proposal carefully and let me know if any more changes are desired.**

Notes:
* Take note of the two tabs - one for the WPSEO Free plugin, one for the Premium plugin.
* For this list, I've

[2017-10-31 18:31] #15 closed, assigned to nobody

[2017-11-30 09:55] #36 closed, assigned to jrfnl

[2017-12-20 15:03] moorscode opened #55 "Re-evaluate and optimize travis build"
Following up on the comment placed on this PR: https://github.com/Yoast/yoastcs/pull/52

We should re-evaluate if we can optimize the build script by only loading and configuring the elements we really need for a run.

[2017-12-21 23:31] jrfnl commented on #55
Side-note: something else which you may or may not want to address in this ticket:

The travis build for YoastCS itself uses the `master` branches of WPCS as well as PHPCompatibility to test the code style of the YoastCS code.
Those `master` branches are not necessarily the same as the versions defined in the `composer.json` file.
This could be synchronized by removing the `git clone`s from the Tr

[2017-12-22 11:22] #20 closed, assigned to jrfnl

[2017-12-22 11:22] #35 closed, assigned to nobody

[2017-12-22 11:24] moorscode commented on #55
I would suggest to keep that in place and just make sure that we only configure and load elements in the script that are really needed for specific builds instead of altering the builds that are being run.

[2017-12-22 11:58] jrfnl commented on #55
@moorscode I'm not sure I understand what you mean ... ?

[2017-12-22 12:55] #48 closed, assigned to jrfnl

[2017-12-28 08:49] moorscode commented on #55
I looked into it and it turned out I missed a bit of thinking.
It seems that the travis build is optimized already.

[2017-12-28 08:49] #55 closed, assigned to moorscode

[2018-01-22 22:29] jrfnl opened #68 "Create a sniff to safeguard that PHPCS annotations aren't being abused"
As previously discussed with @moorscode, this sniff should:
1. Check that only the new PHPCS annotations are used and forbid use of the old annotations.
    I.e. the following will no longer be allowed:
    - `@codingStandardsIgnoreFile`
    - `@codingStandardsIgnoreStart` / `@codingStandardsIgnoreEnd`
    - `@codingStandardsIgnoreLine`
    - `@codingStandardsChangeSetting`
2. Detect & forbid blan

[2018-02-10 15:07] moorscode opened #69 "Create a sniff to make sure `wpseo*` options aren't used directly"
As we have the Options framework to handle options properly and apply defaults for options that aren't saved yet, we need to make sure this framework is always used instead of directly calling `get_options` with the option name.

[2018-02-10 15:08] moorscode opened #70 "Create a sniff to make sure `filter_input` is not used with only the default settings"
As the default is RAW INPUT, this does not add anything.

[2018-03-30 12:35] moorscode opened #74 "Create a sniff to ensure `update_option` sets `autoload` explicitly"
As the `autoload` setting has been added in a later state, the argument is not required.
Though this is a setting that should be set explicitly, as it impacts performance and memory.

[2018-03-30 16:56] jrfnl commented on #74
Not sure if that's the reason. The `autoload` setting has always been optional for `add_option()` and AFAIK, has been available since the beginning, so I suspect it's more a consistency thing.

Implementation notes:
* This should be checked for both `update_option()` as well as `add_option()`.
* WPCS contains an abstract function parameter sniff which can (should) be used as a basis.

Note: using

[2018-03-30 17:04] jrfnl opened #75 "Create a sniff to make sure test doubles/mocks are in a `doubles` directory"
To determine whether a sniff is a double/mock, there are a couple of things which can be checked:
1. Does the class (interface/trait) name have `double`/`mock` in it ?
2. Does the class extend one of the known unit test classes ? If not and it *is* a file in the `test(s)` directory, this may be a helper class or an incorrectly named mock/double class.
    If so, this should probably trigger an err

[2018-04-02 18:07] moorscode commented on #70
This can be added to the sniff introduced in https://github.com/Yoast/yoastcs/issues/74

[2018-04-04 13:10] jrfnl opened #77 "Add a changelog"
As there is more active development going on and expected in the near future for this repo, it may be advisable to add a `changelog.md` file (or add it to the readme).

Once the initial changelog is made, tagged releases should be updated with the relevant change info.

[2018-06-22 12:04] moorscode commented on #74
Shouldn't this just be a sniff in the WordPress Coding Standards?

[2018-06-22 12:27] jrfnl commented on #74
@moorscode I'd certainly suggest opening an issue about it for WPCS (if one doesn't exist yet). Let's see how people respond.

[2018-08-08 13:45] #75 closed, assigned to dutchmartin

[2018-08-16 15:12] jrfnl opened #89 "Composer version constraints: to fix or not to fix ?"
In PR #81, I updated the WPCS dependency to `^1.0.0`:
https://github.com/Yoast/yoastcs/blob/f80e4310fd89a3584c6c50ba8a0fa0eedca1fc25/composer.json#L25

WPCS will be using semantic versioning. In practice, this means that:
* Patch versions will only contain bug fixes and changes which do not impact sniffing (readme updates and such).
* Minor version can contain new features, such as new sniffs, eit

[2018-08-22 09:08] atimmer commented on #89
I would say go for `^1.0.0`.

[2018-08-23 00:37] jrfnl commented on #89
@atimmer Thanks for your response. In that case, I'll close this issue, but at least the reasoning and the decision has now been documented.

[2018-08-23 00:37] #89 closed, assigned to nobody

[2018-08-24 08:25] jrfnl commented on #77
Hmm... not sure why this issue was not auto-closed when PR #90 was merged, but it should have been....

[2018-08-24 08:25] #77 closed, assigned to jrfnl

[2018-08-24 08:27] jrfnl commented on #77
Ah.. just saw that the PR was not merged to the default branch, so that explains why the issue wasn't closed automatically.

[2018-09-04 07:37] jrfnl opened #91 "PHPCS 3.3.2: add XSD schema to ruleset"
## Dependency Version
When the **PHP_CodeSniffer** dependency is at least version **3.3.2** _(not yet released at the time of writing)_, then take the actions below.

## Action checklist
- [x] Add the XSD schema attributes to the various rulesets, like so:
[code]
    **Note**: we should probably use a relative schema location like `../vendor/squizlabs/php_codesniffer/phpcs.xsd` as this library is

[2018-09-10 11:08] jrfnl opened #92 "Create/Find sniffs to check for functions with inconsistent return types"
## Sniff specification:

### Goal:
Prevent functions from being declared with:
* A `void` return in combination with another return type. (Forbidden)
    `* @return \My_Object|void`
* Three or more different return types. (Refactor advised)
    `* @return object|int|bool`

### Rationale:
Each of the above situations makes unit testing functions more difficult and should be avoided.

### Notes for

[2018-09-20 10:23] jrfnl opened #95 "Suggestion: sniff to check that deprecated methods are ignored for code coverage"
Related to https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/issues/993 which proposes a sniff to check various other aspects of deprecated functions/methods.

In addition to the WPCS sniff, I would like to suggest a sniff to check that any function/method which has a `@deprecated` tag in the Yoast plugins, also has a `@codeCoverageIgnore` tag.

Files which are in a `depreca

[2018-09-20 10:30] IreneStr commented on #95
Sounds like a plan. I think there is no reason for calculating coverage for deprecated functions.

[2018-09-20 10:36] moorscode commented on #95
That sounds great, I'm all for it!

[2018-09-20 10:41] jrfnl commented on #95
In that case, I may as well write it now instead of doing the manual check I was working on ;-)

[2018-09-20 13:19] jrfnl commented on #95
See PR #96

[2018-09-21 07:18] #95 closed, assigned to nobody

[2018-09-21 11:41] jrfnl opened #97 "Add `CONTRIBUTING.md` file"
With reference to the discussion had in https://github.com/Yoast/yoastcs/pull/96#discussion_r219403952, it may be a good idea to add a `CONTRIBUTING.md` file with some guidelines on:
* What belongs in this repo and what should be pulled upstream (WPCS/PHPCS)
* Basic guidelines for sniffs
* How to run the unit tests and such

[2018-09-21 11:56] atimmer commented on #34
Wrong:

[code]

Correct:

[code]

This probably also requires sanitisation, because that is normally covered by `filter_input` but I am assuming that another rule covers sanitisation.

[2018-09-21 23:03] jrfnl opened #98 "Sniff to check placement of deprecated functions/methods"
The convention for the Yoast plugins is to have deprecation methods at the end of the class they are in (preceded by a `/* *** DEPRECATED METHODS *** */` placeholder) and for deprecated global functions to be at the end of the file or in a separate `deprecated_functions.php` file.

A sniff could be written which checks for this and warns or throws an error if a method is not moved to the end of th

[2018-11-08 12:53] #91 closed, assigned to jrfnl

[2018-11-12 11:14] jrfnl opened #106 "Create wrapper sniff to allow for no file comment for namespaced classes"
If I remember correctly, files within the Yoast projects which have a namespace and contain an OO object declaration:
* do need a class/interface/trait docblock;
* but do **not** need a file docblock.

The current `FileComment` sniff, which WPCS includes, however, demands a file docblock for all files.

A wrapper sniff can be created which extends the existing FileComment sniff and bows out if bot

[2018-11-12 12:29] atimmer commented on #106
Yes, you remember correctly.

[2018-12-18 21:16] jrfnl commented on #106
@atimmer I've been working on the wrapper sniff and just want to confirm a few details, c.q. how to handle some edge cases:

1. When a file contains a `namespace` keyword, but no actual namespace (= global namespace) => demand a file comment ?
[code]
2. When a file contains one or more scoped namespaces => demand a file comment ?
[code]
3. What about files which **_do_** contain a namespace, but n

[2018-12-19 08:30] jrfnl commented on #106
Discussed - conclusion:

1. Yes, demand comment
2. No, as namespace is known, but add a separate sniff to prohibit the use of scoped namespaces and namespace keywords without actual namespace name, but _do_ allow whitelist comments, providing they have a reason added.
3. No, this is fine.
4. Yes.

[2018-12-19 08:30] jrfnl opened #110 "Create sniff to check against scoped namespaces and no name namespace declarations"
See for details: https://github.com/Yoast/yoastcs/issues/106

[2018-12-19 11:41] jrfnl commented on #106
PR #111 should take care of this.

[2018-12-19 14:35] #106 closed, assigned to jrfnl

[2018-12-20 11:20] #110 closed, assigned to jrfnl

[2019-03-11 20:55] jrfnl opened #123 "Check for correct usage of @covers tags"
The `@covers` tag in docblocks is use to denote what method/class a unit test tests and to prevent "incidental" coverage from being recorded.

"Incidental coverage" in this context, means tests calling methods other than the method under test to set up/prepare test. The resulting "lines covered" from this test set up/preparation should not be recorded.

Refs:
* https://phpunit.readthedocs.io/en/8.

[2019-03-14 14:06] IreneStr commented on #123
Sounds like a good idea to me. What do you think @moorscode?

[2019-03-28 08:49] omarreiss opened #124 "Sniff to enforce usage WPSEO_Utils:format_json_encode"
In https://github.com/Yoast/wordpress-seo/pull/12537, we're adding a util `WPSEO_Utils:format_json_encode()` which uses `wp_json_encode()` under the hood, adds a `JSON_UNESCAPED_SLASHES` flag if the PHP version > 5.4 and pretty prints if `WP_DEBUG` is enabled.

I want to enforce the util to be used everywhere instead of `wp_json_encode` and `json_encode`. We can also autofix.

[2019-03-28 22:21] jrfnl commented on #124
Specs are clear, so PR #125 should fix this.

[2019-03-28 22:28] jrfnl commented on #123
@moorscode @omarreiss Had a chance to look at this proposal yet ?

This sniff should be easy enough to write and implement and the time to write this sniff will be won back when offset against the time which would be needed to manually fix the tags.

Along the same lines, but a separate issue, I've also seen the `@expectedException` tag being used incorrectly which invalidates the test. A sniff fo

[2019-04-29 11:35] #124 closed, assigned to nobody

[2019-05-02 09:43] herregroen commented on #123
Just discussed this proposal with @jrfnl and I agree this should be added 👍

[2019-05-22 12:04] #123 closed, assigned to jrfnl

[2019-07-02 15:30] jrfnl opened #141 "New Namespace name sniff"
As discussed today with @omarreiss @herregroen @IreneStr, a new sniff needs to be created which will check that namespace declarations comply with the following rules:

A namespace should be build up of:
1. A plugin specific prefix. This should be the namespace prefix as already specified for the WPCS `PrefixAllGlobals` sniff, like for instance `Yoast\WP\Free`.
2. The directory path to the file.

[2019-07-02 15:51] jrfnl opened #142 "New ClassName sniff"
As discussed today with @omarreiss @herregroen @IreneStr, a new sniff needs to be created which will check that _**the names of classes declared within a namespace**_ have a maximum of two underscores in them, i.e they can consist of maximum three words.

The sniff should contain separate properties for `recommended` (warning) and `maximum` (error) number of underscores.
The default will be `2` in

[2019-07-02 16:07] jrfnl opened #143 "New HookName sniff"
As discussed today with @herregroen @IreneStr and with some changes after further discussion with @omarreiss:

* Hook names in the Yoast plugin repos should start with the plugin prefix in namespace format, followed by the hook name in lowercase with words separated by underscores.
    I.e. `Yoast\WP\Free\hook_name`, not `yoast_free_hook_name`.
    To that end, the configuration of the WPCS `Valid

[2019-07-31 08:46] jrfnl opened #149 "Travis: add check that sniffs are feature complete"
Once upstream PR https://github.com/squizlabs/PHP_CodeSniffer/pull/2364 has been merged, we should add the check to Travis.

Also see: https://github.com/Yoast/yoastcs/pull/146#issuecomment-516755762

[2019-09-20 13:38] andizer opened #152 "Add sniff to ensure plugin prefix in deprecated_functions"
When we deprecate a method, function or hook we use the build in WordPress functions for it. One of the arguments these functions should receive the version number and that's the location where different kind of forms are use. We should have a sniff that checks if the plugin prefix is in there as well as the version number. Just to prevent this:
`_deprecated_function( __METHOD__, '11.0');`

We wan

[2019-09-20 13:41] andizer opened #153 "Deprecated functions should have a `@codeCoverageIgnore` flag"
When a method or function is deprecated we don't want it to be present in the codecoverage, just because it's deprecated and thus not used.

We should have a sniff that checks if a `@codeCoverageIgnore` flag is present in the docbloc.

[2019-09-20 21:27] jrfnl commented on #152
Loosely related to https://github.com/WordPress/WordPress-Coding-Standards/issues/993

[2019-09-20 21:29] jrfnl commented on #153
This already exists since YoastCS 1.1.0: see #95 and PR #96

[2019-09-20 21:29] #153 closed, assigned to nobody

[2019-10-31 14:05] jrfnl opened #157 "Add PHPCSUtils dependency and implement the use of it"
A lot of the utility functions for PHPCS which I've written over the years and are included in WPCS and/or PHPCompatibility will soon be published in a separate repo called [PHPCSUtils](https://github.com/PHPCSStandards/PHPCSUtils).

Once that repo has been published and the first version is tagged, this repo should become a `require` dependency for YoastCS and use of the utility methods in that r

[2019-11-01 15:12] #142 closed, assigned to jrfnl

[2019-11-04 06:52] jrfnl opened #166 "Ban Yoda conditions"
The current ruleset - in contrast to WPCS - already does not _demand_ Yoda conditions.
All the same, they are not explicitly _forbidden_ either.

PHPCS 3.5.0 introduces a new `Generic.ControlStructures.DisallowYodaConditions` sniff which can throw an error when the use of Yoda conditions is detected.

I'd like to suggest adding this sniff to YoastCS to improve consistency in how conditions are wri

[2019-11-04 11:52] jrfnl commented on #143
Documentation on how hook renames should be done in plugins can be found here: https://github.com/Yoast/Wiki/wiki/How-to-rename-a-hook

[2019-11-14 10:13] IreneStr opened #168 "Allow @inheritDoc for implementations of interfaces and abstract methods"
We decided that the use of `@inheritDoc` should only be allowed for implementations of interfaces and abstract methods. If `@inheritDoc` is used to document any other method/function/class, Yoast CS should throw an error.

Slightly related: I've also +1ed this issue on WPCS to ensure no warnings about missing short descriptions will be thrown when we use `@inheritDoc`: https://github.com/WordPress

[2019-11-14 10:18] jrfnl commented on #168
Question: what about double/mock classes which extend a functional class ?

[2019-11-14 10:29] jrfnl commented on #168
Unfortunately that's not reliably sniffable.

PHPCS scans files in an undetermined order and for all plugins using YoastCS, with parallel scanning enabled.

To be able to sniff this we'd need to know in advance which abstract methods are in abstract classes and which methods are defined in interfaces, as `@inheritdoc` should only be allowed for those specific methods.

Unfortunately we don't have

[2019-11-14 11:19] herregroen commented on #168
@jrfnl From what I can see PHPCS does load the composer autoloader which means all classes it is scanning should be available for reflection.

Using a combination of:
- [ReflectionClass::getInterfaces](https://www.php.net/manual/en/reflectionclass.getinterfaces.php) to find all implemented interfaces.
- [ReflectionClass::getParentClass](https://www.php.net/manual/en/reflectionclass.getparentclass.

[2019-11-14 11:29] jrfnl commented on #168
@herregroen Hmm.. that's an interesting idea. I hadn't though of that as in most cases when working with PHPCS you can not presume a Composer install, but with YoastCS we can, of course. Nice.

I do wonder how much extra memory that will cost to use and whether autoloading those classes via Composer/Reflection will cause issues with "class already declared", but that's something to figure out when

[2019-11-22 15:12] #141 closed, assigned to jrfnl

[2019-12-06 09:31] #166 closed, assigned to nobody

[2019-12-13 14:36] #143 closed, assigned to jrfnl

[2020-02-17 08:13] IreneStr opened #196 "Add a sniff to disallow `@return` type `mixed` in docs"
Add a sniff to disallow `@return` type `mixed` in the documentation.

[2020-04-07 13:54] herregroen opened #201 "Add a sniff to force types in comments to use use statements."
Typehints in comments should, if they refer to a namespaced class, always use a `use` statement and use the short form in the comment.

The following docblock would break this rule:
[code]

And the following docblock would be a correct replacement:
[code]

Ideally an auto-fixer would insert new use statements in alphabetical order at the top of the file and fix the comments directly.

We are aware

[2020-04-08 04:42] jrfnl opened #208 "YoastCS 3.0.0 roadmap"
This is an issue with a high-level write-up and proposal for YoastCS 3.0.0, so the intentions for YoastCS 3.0.0 are documented and can be discussed.

## TL;DR
New minimum requirements:
* PHP 7.2 🆕
* PHP_CodeSniffer ~~3.5.4~~ 3.8.0
* WordPressCS 3.0.0
* ~~PHPCompatibility 10.0.0~~

Add new dependencies and implement use of/selectively add rules from:
* PHPCSUtils
* PHPCSExtra
* VariableAnalysis
* S

[2020-04-08 04:43] jrfnl commented on #201
I propose to address this in YoastCS 3.0 - also see #208

If my proposal in #208 would be accepted, the following rule can be added to the ruleset to address this (and auto-fix issues):

[code]

Note: more configuration for this sniff will be needed depending on choices made for other things (like exception, global functions, constants), but that's outside the scope of this issue.

This is a separ

[2020-04-08 04:47] jrfnl commented on #149
This was addressed in #195.

[2020-04-08 04:47] #149 closed, assigned to nobody

[2020-04-08 04:52] jrfnl commented on #157
Related to #208

[2020-04-08 04:54] jrfnl commented on #152
Sniffs which will allow for checking this (as well as checking other parameters of the `_deprecated_...()` methods) are expected to go into WPCS 3.x.

[2020-04-08 04:55] jrfnl commented on #196
This can be addressed using the `SlevomatCodingStandard.TypeHints.DisallowMixedTypeHint` in YoastCS 3.0.0. Also see #208.

[2020-05-12 12:13] herregroen opened #209 "Investigate options for sniffs for catching exceptions."
With the 14.0 release we ran into unfortunate issues where we were not catching all our own exceptions, thus leading to fatals.

Because of this we'd like to explore options for sniffs that forbid the usage of functions that can throw exceptions without using `try` and `catch`.

So the following would be invalid code:
[code]

With the following being a valid replacement;
[code]

Even rethrowing th

[2020-05-12 12:19] herregroen opened #210 "Investigate options for forbidding throwing exceptions in specific directories."
In our integrations directory we have all our classes that hook into WordPress filters and actions. As any exceptions thrown here in public functions wouldn't be able to be caught by us these would likely lead to fatals.

So ideally we'd be able to specify directories where throwing exceptions would be forbidden in public functions under the expectations that these would be hooked into WordPress f

[2020-05-12 12:19] jrfnl commented on #209
Two questions:
1. Is this only global/namespaced function calls or also method calls ?
2. Is there a list available of the functions which throw exceptions ?
    This would need to be a list-based sniff as 1) PHPCS only scans a codebase once, so can't keep track of where it has seen a `throw` statement and 2) add-on plugins may use functions which throw from Free/Premium.

[2020-05-12 12:23] jrfnl commented on #210
If a function hook-in (`add_filter()`/`add_action()`) is **always** done in the same file as the function is declared in, this would be possible, but that would need to be a condition (which could be checked by a separate sniff).

[2020-05-12 13:29] herregroen commented on #210
In the case of our integrations that is the case.

[2020-05-13 11:27] herregroen commented on #209
This would also be for both function calls as well as for methods. For methods there'd be the complexity of finding out what the object is, can PHPCS determine this if either the object is passed as a type-hinted argument, constructed in the same function or is a type-hinted property?

Although PHPCS only scanning once does make it even more complex. Ideally we'd be able to detect which functions

[2020-06-17 07:42] jrfnl opened #213 "Add a sniff to enforce use statements are in alphabetic order (per group)"
Discussed on Slack with @herregroen

Add a sniff to enforce that import `use` statements are sorted alphabetically per group, i.e. `use ...`, `use func ...` and `use const ...`.

There is a Slevomat sniff available which we could probably use for this. Needs review & testing.

[2020-06-17 09:29] jrfnl opened #214 "Add sniff to disallow import use statements for functions/constants in the global namespace"
Discussed on Slack with @herregroen

Disallow import `use` statements for functions and constants from the global namespace:
[code]

in favour of enforcing fully qualified names in the inline code:
[code]

[2020-06-17 09:33] jrfnl opened #215 "Add sniff to enforce importing a namespace not a namespaced function/constant"
Discussed on Slack with @herregroen.

For namespaced functions and constants, disallow importing these via `use func`/ `use const`.
Instead, the _namespace_ should be imported and the function name/constant name should be qualified with the namespace name.

Enforce:
[code]

Disallow:
[code]

[2020-08-12 14:12] omarreiss opened #221 "Add sniff to detect @deprecated tags that are older than 2 major versions."
I'd like to see a WordPress plugin sniff that reads the plugin version and detects functions and classes that have been `@deprecated` more than 2 major versions ago. Let's also throw an error when `@deprecated` tags don't contain a parsable version.

[2020-08-14 12:01] moorscode opened #222 "Add sniff to detect `get_option`/`update_option` usage with prefix in name (`wpseo_`)"
We have our own `WPSEO_Options` framework. This should be used for all interactions with options.
So any calls to `get_option` or `update_option` with a specific prefix should result in an error in the sniffs.

Whenever we want to allow these specifically, sniff-excludes should be used to mark them.

[2020-08-26 14:06] omarreiss opened #223 "Output escaping sniff should take into account presenters"
When we want to output HTML, we usually use presenters like this.

`echo new Meta_Fields_Presenter( $this->get_metabox_post(), 'general' );`

This triggers the output escaping sniff everywhere the presenter is used. Can we make sure we don't trigger the sniff on presenters like this? Instead we could analyze the `present` method on every presenter. That is were data should be escaped before it is

[2020-08-26 15:04] jrfnl commented on #223
Well, from a late escaping point of view, using that code snippet is an anti-pattern and not something we will ever be able to account for.

The pattern to use in that case would be:

[code]

And move the `echo` to the code in the presenter where the output escaping can be checked.

[2020-08-27 17:52] omarreiss commented on #223
Strictly from a code perspective, you're right. But in the domain the presenter already functions as the "edge". It's the class that invokes / contains the view and the view is the place where things should be escaped.
`echo new Meta_Fields_Presenter( $this->get_metabox_post(), 'general' );` is equivalent to
`require './views/some_view.php`, where the escaping would also happen inside the view, an

[2020-08-28 10:14] jrfnl commented on #223
@omarreiss I totally understand that the pattern used works well, except this is not a pattern which the WPCS sniff will be adjusted for, for two reasons:
1. The sniff is based on late escaping and what's being echo-ed out is not being late escaped (but "early" escaped).
2. There are no checks in place to verify that the Presenters actually do the escaping correctly.

I'll have a think about creat

[2020-08-28 12:56] omarreiss commented on #223
Ah sorry, didn't realize that's a WPCS sniff 😅 . Of course I wouldn't want to change that 😄 ! Thanks for thinking along for how we can accomodate Yoast CS.

I agree it would be quite impossible to sniff that well. Think it would be fine if the sniff would always trigger on `present` just to remind the developer about output escaping. They can put the ignore in the file after they've been confronte

[2020-08-28 13:20] jrfnl commented on #223
Will also be a good reminder to verify the presenter if they were working on that when making the change which triggers the error.

Either way, with that in mind, can this issue be closed ?

[2020-08-31 12:12] jdevalk commented on #196
@jrfnl did we do this already? is it possible to do this already?

[2020-10-07 03:22] jrfnl opened #227 "Add sniff to trigger on uncached functions"
Discussed on Slack: https://yoast.slack.com/archives/C01A4G25FNH/p1601672433044900

From https://mobile.twitter.com/thespacedmonkey/status/1311968422285250560

Refs:
https://wpvip.com/documentation/vip-go/uncached-functions/

### Notes:

The Automattic VIPCS repo may have a sniff for this which could be added to YoastCS. Would imply adding another external standard as a dependency.

[2020-10-07 03:33] jrfnl opened #228 "Task: check what PHPMD checks and if there are replacement sniffs"
Via:
* https://yoast.slack.com/archives/CQ2G9ASK1/p1596032760007100
* https://yoast.slack.com/archives/CQ2G9ASK1/p1596032943008700
* https://yoast.slack.com/archives/C0361PEK4/p1592487948161600

Some PHPMD checks used to be run via CodeClimate. Now CodeClimate has been turned off, these are no longer run.

A number of things which PHPMD checked, can (also) be checked via sniffs.

It should be inve

[2020-10-07 03:47] jrfnl opened #229 "Filters should always return the first argument"
From https://yoast.slack.com/archives/C5SUKMF2T/p1595412782373600

Related:
* https://github.com/WordPress/WordPress-Coding-Standards/issues/713

### Notes:

There is a sniff in the Automattic VIPCS which can check that functions which are hooked into filters always return something as long as the "hook-in" and the function being hooked are in the same file. The sniff is pretty buggy at this time,

[2020-10-29 15:26] increddibelly opened #231 "check for correct usage of constants"
constants should only be created in a class located in the ```\src\constants\``` folder
exception to this rule: if the constant is private (7.1) or in other words, if the constant in a class are only used in that class and its unit tests.

[2020-10-29 15:27] increddibelly opened #232 "check for appropriate separation of constants"
constants should only be created in a class located in the ```\src\constants\``` folder
exception to this rule: if the constant is private (7.1) or in other words, if the constant in a class are only used in that class and its unit tests.

see https://github.com/Yoast/developer-docs/pull/103

[2020-10-29 15:27] #231 closed, assigned to nobody

[2020-10-29 15:28] increddibelly commented on #231
duplicate post

[2020-10-29 15:48] jrfnl commented on #232
@increddibelly Is this new ? I can't remember ever having come across the `src/constants` folder in the Yoast plugins before.

Other than that:
* What about the constants like `PLUGIN_DIR` and such which are normally created in the "main" file of a plugin ?
* > if the constant is private (7.1) or in other words, if the constant in a class are only used in that class and its unit tests.

    This s

[2020-10-29 15:53] jrfnl commented on #232
Just read the section in the docs, so we're talking class constants in a multitude of class in the `/src/constants` folder if I understand this correctly ?

I still wonder about why these constants would be disconnected from where they are used. Wouldn't it be more appropriate to add them to an applicable `interface` in that case ? (and yes, interfaces can have constants)

[2020-10-30 09:15] increddibelly commented on #232
correct, the intent is to bundle constants per domain in a class in the ```src/constants``` folder. This is still a PR but I'd love to have a code sniff (warning) for this, as it helps people migratie toward the desired situation.

The main reasoning behind this is to reduce coupling between classes. e.g. we had an integration class that used a constant from another integration, which created a ha

[2020-11-19 15:05] andizer opened #235 "Trait double doesn't need a trait suffix"
When a double has been made for a trait the CS expects to have it suffixed with `-trait`. This can lead to weird file naming with a lot of traits in it.

When it is a double or is in the doubles directory we should just append `-double` to it.

![wordpress-seo_–_composer_json](https://user-images.githubusercontent.com/325040/99683664-e15bc380-2a80-11eb-98da-e1248dcd3e1d.png)

[2020-12-03 09:08] increddibelly opened #236 "Add a sniff for console.log"
we shouldn't have console.log in production code; adding a sniff could easily help us prevent this.

[2020-12-03 09:18] #236 closed, assigned to nobody

[2020-12-03 09:18] increddibelly commented on #236
we already have a sniff for this <3

[2020-12-03 15:56] jrfnl commented on #236
@increddibelly I suppose you mean a ESLint check ? AFAIK `console.log` is not being sniffed for and I'd recommend against writing a sniff for it as JS support will be removed in PHPCS 4. For PHP, there is the `WordPress.PHP.DevelopmentFunctions` sniff which checks for things like `error_log()` and `var_dump()`.

[2021-05-26 11:52] jrfnl opened #242 "ValidHookName: verify correct handling of single vs double quotes names"
Inspired by a question in Slack from @Djennez :

The NamingConventions/ValidHookName sniff needs a quick review for correct handling of double backslashes.

When single quoted strings are used, the "namespace-like" prefix for hooks should be fine.
However, when double quoted strings are used, the namespace separator(s) in the hook name prefix need to be escaped as they could otherwise result in a

[2021-05-27 01:18] jrfnl commented on #242
@Djennez I've created PR #243 to address this. Would you feel comfortable doing a review of the PR ?

[2021-05-27 01:38] jrfnl commented on #168
Since [PHPCS 3.6.0](https://github.com/squizlabs/PHP_CodeSniffer/releases/tag/3.6.0), the `Squiz.Commenting.FunctionComment` sniff has a property to skip `@inheritDoc`, however this is not limited to specific circumstances.

If we'd want to use this, we would need to extend the upstream sniff and toggle the property depending on whether the class in the file which is being scanned complies with th

[2021-06-16 12:30] jrfnl opened #247 "ValidHookName: make the `NotString` warning more actionable"
The `ValidHookName` sniff contains a warning when dynamic hook names are encountered to manually examine those for hook name length. The maximum word count is configurable, not fixed.
[code]

When looking at this message, it is not directly actionable as it doesn't mention what the _maximum word count_ **is**.

By the looks of it, the sniff can possibly also be improved further to throw this warni

[2021-07-30 11:13] #242 closed, assigned to nobody

[2021-10-12 15:36] jrfnl opened #264 "Detect potential race condition with BrainMonkey test functions"
As discussed with @increddibelly:

1. The potential race condition needs to be reported to BrainMonkey and if possible, fixed there.
2. In the mean time, we want to prevent the Yoast tests running into it.

### Issue outline

### Sniff outline

* Register `T_STRING` and check for content `expect`
* with a `T_NS_SEPARATOR` before it and `T_STRING` `Functions` before that and `T_OPEN_PARENTHESIS` af

[2021-10-14 07:21] increddibelly commented on #264
@herregroen clarified that it's not Filters\expect( 'apply_filters' ) but Functions\expect. It looks like BrainMonkey also mocks `apply_filters` itself when you call `expectApplied` but when you also mock `apply_filters` by yourself only one of these mocks will succeed.

[2021-11-19 10:53] jrfnl commented on #70
👋🏻 We also need to make sure to forbid the string filter which has been deprecated in PHP 8.1.

[2021-12-06 13:52] diedexx commented on #70
@increddibelly, @jrfnl had a discussion about the filter functions and came up with a list of filter that we want to forbid:
[code]

[2021-12-06 13:53] jrfnl commented on #70
And let's extend the filter requirements to ALL functions in the Filter extension: https://www.php.net/manual/en/book.filter.php

[2021-12-06 14:23] jrfnl commented on #70
Also loosely related #34

[2021-12-06 14:27] jrfnl commented on #70
Related upstream issues:
* https://github.com/WordPress/WordPress-Coding-Standards/issues/512
* https://github.com/WordPress/WordPress-Coding-Standards/issues/2018

Any sniff we would create here would be a candidate to be pulled upstream at a later point in time.

[2021-12-14 23:53] jrfnl commented on #70
Been doing some digging into the filter extension and discovering more and more WTFs.

The sniff I'm currently writing will comprehensively check for all of them. You may not like what you see when we run the sniff over the various code bases....

[2022-03-04 13:45] #264 closed, assigned to nobody

[2022-03-22 10:43] herregroen opened #281 "Forbid the usage of session functions."
In PHP the [session functions](https://www.php.net/manual/en/ref.session.php) by default store session date in files.

On many WordPress hosts creating files in this manner can lead to errors, either due to the amount of files being created or due the directory these files are written in not being writable to the user the PHP process is running as.

As such we should never use these functions in o

[2022-03-22 11:49] jrfnl commented on #281
I had a feeling this was already being checked for in WPCS, but a quick file search I just did, shows it's not.
Turns out this _used_ to be checked via the VIP ruleset, but was removed when VIP was removed.
I'm pretty sure there must have been a discussion about whether or not the `session_*` function sniff should be retained at the time, but unfortunately, I can't seem to find the relevant issue